@import "tailwindcss";


@plugin "daisyui" {
  themes: all;
}

body {
  min-width: 420px;
  overflow: hidden;
}

#root {
  overflow: hidden;
}

html {
  --scrollbar-width: thin;
  --scrollbar-width-legacy: 10px;
  overflow: hidden;
}

/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {
  html {
    scrollbar-width: var(--scrollbar-width);
  }
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
  html::-webkit-scrollbar {
    max-width: var(--scrollbar-width-legacy);
    max-height: var(--scrollbar-width-legacy);
  }
}
