/* src/components/Favorites.css */
.favorites {
    text-align: center;
    border-bottom: 1px solid #313244;
  }
  
  .favorites h3 {
    margin-bottom: 10px;
  }
  
  .favorites-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
  }
  
  .favorites-grid button {
    background-color: #313244;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) -1.95px 1.95px 2.6px, rgba(108, 112, 134) -5px 5px;
  }
  
  .favorites-grid button.selected {
    box-shadow: rgba(0, 0, 0, 0.25) -1.95px 1.95px 2.6px, rgba(137, 220, 235) -5px 5px;
  }

  .favorites-grid button.selected h3 {
    color: #cdd6f4;
  }
  
  .favorites-grid button:hover {
    background-color: #45475a;
  }
  