/* src/components/Information.css */
.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px; /* Ensure padding is consistent */
    width: 100%;
  }
  
  .icons {
    display: flex;
    align-items: center;
  }
  
  .icons i {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .title {
    flex-grow: 1;
    text-align: center;
    font-size: 24px;
  }
  
  .user-icon {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .user-icon i {
    font-size: 24px;
  }
  