.overlay-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.tab {
  flex: 1;
  padding: 10px;
  cursor: pointer;
}

.content {
  flex: 4;
  padding: 20px;
}
