.popup-bubble {
  position: absolute;
  background-color: #1e1e2e;
  border: 1px solid #313244;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) -1.95px 1.95px 2.6px, rgba(108, 112, 134) -5px 5px;
  padding: 10px;
  z-index: 1000;
}

.popup-bubble button {
  display: block;
  background-color: #313244;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  text-align: center;
}

.popup-bubble button:hover {
  background-color: #45475a;
}
