/* src/components/PowerButton.css */
.power-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #45475a;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .power-button.active {
    background-color: rgb(137, 220, 235); /* Green background when active */
  }

  .power-button.active i {
    color: #1e1e2e;
  }
  
  .power-button i {
    color: #cdd6f4;
  }
  