/* src/components/PowerButton.css */
.power-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: #45475a;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
  }
  
  .power-button.active {
    background-color: rgb(137, 220, 235); /* Green background when active */
  }

  .power-button.active i {
    color: #1e1e2e;
  }
  
  .power-button i {
    color: #cdd6f4;
  }

.power-button.disabled {
  background-color: #f38ba8;
  cursor: not-allowed;
}

#root > div > div > div.menu-header > div.title-container > div > div.power-button.active > i

.power-button-disabled-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 900;
  pointer-events: none;
}
