/* src/components/Support.css */
.support {
    text-align: center;
  }
  
  .support h3 {
    margin-bottom: 10px;
  }
  
  .support-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .support-grid button {
    background-color: #313244;
    color: #cdd6f4;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) -1.95px 1.95px 2.6px, rgba(108, 112, 134) -6px 6px;
  }
  
  .support-grid button:hover {
    background-color: #45475a;
  }
  