/* src/components/Support.css */
.menu-section {
    margin-bottom: 20px;
  }
  
  .menu-section h3 {
    margin-bottom: 10px;
  }
  
  .menu-section .support {
    display: flex;
    flex-direction: column;
  }
  
  .menu-section button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: left;
    cursor: pointer;
  }
  
  .menu-section button:last-child {
    margin-right: 0;
  }
  